body {
	background-color: lightblue;
	height: 1000px;

}
.first-cube {
	width: 180px;
	height: 150px;
	position: static;
	background-color: red;
	border: none;
	margin-top: 140px;
	margin-left: 150px;
}
.second-cube {
	width: 250px;
	height:140px;
	position: absolute;
	background-color: white;
	border: none;
	top: 260px;
	left: 290px; 
}
.third-cube {
	width: 230px;
	height: 160px;
	position: fixed;
	border: none;
	background-color: yellow;
	top: 200px;
	left: 450px;
}
.fourth-cube {
	width: 120px;
	height: 80px;
	position: relative;
	border: none;
	background-color: blue;
	margin-top: 10px;
	margin-left: 330px;
}